#contato
	.formClass
		+make-md-column(12)
		padding-top: 15px
		padding-bottom: 15px
		form
			+make-md-column(12)
			font-family: $font-main
			font-size: 25px
			input
				border-radius: 0
			textarea
				border-radius: 0
			#send
				width: auto
				background-color: $color-primary
				font-family: $font-main
				font-size: 15px
				margin: 0 auto
				color: $color-secondary		
	#socialContato
		+make-md-column(12)
		font-size: 50px
		text-align: center
		.fa-facebook
			color: #3b5998