#perfil
	#perfilConteudo
		+make-md-column(12)
		padding-top: 15px
		padding-bottom: 15px
		img
			+make-sm-column(4)
			+make-sm-column-offset(4)
			+make-md-column(2)
			+make-md-column-offset(0)
			border-radius: 50%
			@media screen and (max-width: $tablet)
				padding-top: 15px
				padding-bottom: 15px
		#textoPerfil
			+make-sm-column(12)
			+make-md-column(10)
			font-family: $font-main
			font-size: 25px
			@media screen and (max-width: $tablet)
				font-size: 20px
			@media screen and (max-width: $celular)
				font-size: 15px
	#skillsperfil	
		+make-md-column(12)
		+make-sm-column(12)
		padding-top: 15px
		padding-bottom: 15px
		text-align: center
		font-size: 100px
		@media screen and (max-width: $tablet)
			font-size: 80px
		@media screen and (max-width: $celular)
			font-size: 30px	
		.fa-html5
			color: #ed6502
		.fa-css3
			color: #0a86c0
		.icon-javascript-alt
			color: #e5b803
		.icon-php
			color: #837bf1
		.fa-wordpress
			color: #008ed7

